

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <button>@Html.ActionLink("Data", "Main", "Data")</button>
        <button>@Html.ActionLink("Emulator", "Main", "Emulator")</button>
        <button>@Html.ActionLink("Emulator Examination", "Main", "EmulatorExam")</button>
    </div>
</body>
</html>
