
@{
    Layout = "~/Views/Shared/EmulatorExamLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Examination</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
