<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="~/Content/stylesheet.css" rel="stylesheet" />

</head>

<body>
    <div>
        @Html.Partial("Navbar")
    </div>
    <div class="layout_block">
        <form method="post">

            <div class="input-group mb-3">
                <select class="form-control" name="Pair">
                    <option value="BTC">USDT-BTC</option>
                    <option value="XRP">USDT-XRP</option>
                    <option value="ETH">USDT-ETH</option>
                </select>
                <input type="date" class="form-control" name="StartDate" value="" />
                <input type="date" class="form-control" name="EndDate" value="" />
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Мин. ордер ($)</span>
                </div>
                <input type="text" class="form-control" name="MinValue" value="500">
                <div class="input-group-append">
                    <button class="btn btn-secondary" name="downloadTradeHistory" value="Trade History" formaction="../Download/TradeHistoryDownload" formmethod="get">Download Trade History</button>
                </div>
            </div>
            <div class="btn-group" style="width:100%">
                <button type="submit" class="btn btn-secondary" name="showTradeHistory" value="Trade History" formaction="../Show/ShowTradeHistiories" formmethod="post">Show Trade History</button>
                <button type="submit" class="btn btn-secondary" name="clearTradeHistory" value="Trade History" formaction="../Clear/ClearTradeHistory" formmethod="post">Clear Trade History</button>
            </div>

        </form>
    </div>
    @RenderBody()
</body>
</html>