<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="~/Content/stylesheet.css" rel="stylesheet" />
</head>

<body>
    <div>
        @Html.Partial("Navbar")
    </div>
    <div class="layout_block">
        <form method="post">
            <div class="input-group mb-3">
                <select class="form-control" name="Pair">
                    <option value="BTC">USDT-BTC</option>
                    <option value="XRP">USDT-XRP</option>
                    <option value="ETH">USDT-ETH</option>
                </select>
                <input type="date" class="form-control" name="StartDate" value="" />
                <input type="date" class="form-control" name="EndDate" value="" />
            </div>

            <div class="input-group mb-3" style="width:100%">
                <div class="input-group-prepend">
                    <span class="input-group-text span_emulator">Diff</span>
                </div>
                <input type="text" name="diffFrom" class="form-control" placeholder="От (0,5)">
                <input type="text" name="diffStep" class="form-control" placeholder="Шаг (0,1)">
                <input type="text" name="diffTo" class="form-control" placeholder="До (2)">
                <div class="input-group-append">
                    <span class="input-group-text span_emulator">%</span>
                </div>
            </div>

            <div class="input-group mb-3" style="width:100%">
                <div class="input-group-prepend">
                    <span class="input-group-text span_emulator">Diff Check</span>
                </div>
                <input type="text" name="diffCheckFrom" class="form-control" placeholder="От (10)">
                <input type="text" name="diffCheckStep" class="form-control" placeholder="Шаг (10)">
                <input type="text" name="diffCheckTo" class="form-control" placeholder="До (120)">
                <div class="input-group-append">
                    <span class="input-group-text span_emulator">сек.</span>
                </div>
            </div>

            <div class="input-group mb-3" style="width:100%">
                <div class="input-group-prepend">
                    <span class="input-group-text span_emulator">Check time</span>
                </div>
                <input type="text" name="checkTimeFrom" class="form-control" placeholder="От (1)">
                <input type="text" name="checkTimeStep" class="form-control" placeholder="Шаг (1)">
                <input type="text" name="checkTimeTo" class="form-control" placeholder="До (10)">
                <div class="input-group-append">
                    <span class="input-group-text span_emulator">мин.</span>
                </div>
            </div>

            <div class="input-group mb-3" style="width:100%">
                <div class="input-group-prepend">
                    <span class="input-group-text span_emulator">Buy time</span>
                </div>
                <input type="text" name="buyTimeFrom" class="form-control" placeholder="От (1)">
                <input type="text" name="buyTimeStep" class="form-control" placeholder="Шаг (1)">
                <input type="text" name="buyTimeTo" class="form-control" placeholder="До (10)">
                <div class="input-group-append">
                    <span class="input-group-text span_emulator">мин.</span>
                </div>
            </div>

            <div class="input-group mb-3" style="width:100%">
                <div class="input-group-prepend">
                    <span class="input-group-text span_emulator">Hold time</span>
                </div>
                <input type="text" name="holdTimeFrom" class="form-control" placeholder="От (1)">
                <input type="text" name="holdTimeStep" class="form-control" placeholder="Шаг (1)">
                <input type="text" name="holdTimeTo" class="form-control" placeholder="До (30)">
                <div class="input-group-append">
                    <span class="input-group-text span_emulator">мин.</span>
                </div>
            </div>

            <div class="input-group mb-3" style="width:100%">
                <div class="input-group-prepend">
                    <span class="input-group-text span_emulator">Balance</span>
                </div>
                <input type="text" name="balance" class="form-control" value="1000000">
                <div class="input-group-append">
                    <span class="input-group-text span_emulator">$</span>
                </div>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" name="SaveData" value="true" checked="checked" />
                    <input name="SaveData" type="hidden" value="false" />
                    <span>Сохранить историю операций для каждой эмуляции</span>
                </label>
            </div>


            <div class="btn-group" style="width:100%">

                <button type="submit" class="btn btn-secondary" name="ShowResults" value="Показать результаты" formaction="../EmulatorExam/ShowResults" formmethod="post">Показать результаты</button>
                <button type="submit" class="btn btn-secondary" name="Examination" value="Запуск" formaction="../EmulatorExam/Examination" formmethod="post">Запуск</button>
                <button type="submit" class="btn btn-secondary" name="ShowResults" value="очистить результаты" formaction="../EmulatorExam/ClearResults" formmethod="post">Очистить результаты</button>
            </div>
        </form>
    </div>
    @RenderBody()
</body>
</html>