<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>



<body>
    <button>@Html.ActionLink("Home", "Index", "Home")</button>
    <form method="post">
        <select name="Pair">
            <option value="BTC">USDT-BTC</option>
            <option value="XRP">USDT-XRP</option>
            <option value="ETH">USDT-ETH</option>
        </select>
        <input type="date" name="StartDate" value="2018-09-01">
        <input type="date" name="EndDate" value="2019-03-01">
        <br><br>

        Difference: <br>
        From  <input type="text" name="diffFrom" value="0,5" />% 
        To <input type="text" name="diffTo" value="2" />%<br><br>
        Difference step:<input type="text" name="diffStep" value="0,1" />%
        <br><br><br>
        Difference Check: <br>
        From  <input type="text" name="diffCheckFrom" value="10" />сек.
        To <input type="text" name="diffCheckTo" value="120" />%<br><br>сек.
        Difference Check step:<input type="text" name="diffCheckStep" value="10" />сек.
        <br><br><br>
        Check time: <br>
        From  <input type="text" name="checkTimeFrom" value="1" /> 
        To <input type="text" name="checkTimeTo" value="10" /> minutes<br><br>
        Check time step:<input type="text" name="checkTimeStep" value="1" /> minutes
        <br><br><br>
        Buy time: <br>
        From  <input type="text" name="buyTimeFrom" value="1" /> 
        To <input type="text" name="buyTimeTo" value="10" /> minutes<br><br>
        Buy time step:<input type="text" name="buyTimeStep" value="1" /> minutes
        <br><br><br>
        Hold time:
        From  <input type="text" name="holdTimeFrom" value="1" /> 
        To <input type="text" name="holdTimeTo" value="30" /> minutes<br><br>
        Hold time step:<input type="text" name="holdTimeStep" value="1" /> minutes
        <br><br><br>
        <label for="balance">Balance: </label>
        <input type="text" name="balance" value="1000000" />$.
        <br><br>
        <label for="SaveData">Save Trade History for each emulation?: </label>
        <input type="checkbox" name="SaveData" value="true" checked="checked" />
        <input name="SaveData" type="hidden" value="false" />
        <br><br>
        <input type="submit" name="Examination" value="Запуск" formaction="../EmulatorExam/Examination" formmethod="post" />
        <br>
        <input type="submit" name="ShowResults" value="Показать результаты" formaction="../EmulatorExam/ShowResults" formmethod="post" />
        <br>
        <input type="submit" name="ShowResults" value="очистить результаты" formaction="../EmulatorExam/ClearResults" formmethod="post" />
    </form>

    @RenderBody()
</body>
</html>