
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string site = "https://poloniex.com/public?command=returnLoanOrders&currency=BTC";
    string FileName = "returnLoanOrders";
    var data = QuickType.LoanOrders.FromJson(QuickType.JsonToString.GetString(site, FileName));
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
</head>
<body>
    <div>
        <table>
            <tr>
                <td><p>Rate:</p></td>
                <td><p>Amount:</p></td>
                <td><p>rangeMin:</p></td>
                <td><p>rangeMax:</p></td>
            </tr>
            
            @foreach (QuickType.LoanOrders value in data)
            {
                <tr>
                    <td><p>@</p></td>

                </tr>
            }
            
        </table>
    </div>
</body>
</html>