
@{
    Layout = "~/Views/Shared/EmulatorLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Emulation</title>
</head>
<body>
    <div> 
        <p>Balance: @ViewBag.balance</p>
    </div>
</body>
</html>
