<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>



<body>
    <button>@Html.ActionLink("Home", "Index", "Home")</button>
    <form method="post">
        Дата начала:
        <input type="date" name="StartDate">
        </br>
        Дата конца:
        <input type="date" name="EndDate">
        </br>
        Валютная пара:
        <select name="FirstPair">
            <option value="USDT">USDT</option>
        </select>



        <select name="SecondPair">
            <option value="BTC">BTC</option>
            <option value="XRP">XRP</option>
            <option value="ETH">ETH</option>
        </select>


        <br />
        <input type="submit" name="returnTradeHistory" value="returnTradeHistory" formaction="../Home/returnTradeHistory" formmethod="post" />
        <input type="submit" name="returnChartData" value="returnChartData" formaction="../Home/returnChartData" formmethod="post" />
    </form>

    @RenderBody()
</body>
</html>