
@{
    Layout = "~/Views/Shared/DataLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TradeHistoryDownload</title>
</head>
<body>
    <div>
        <p>@ViewBag.status</p>
    </div>
</body>
</html>
